        @charset "utf-8";
        /* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
        /* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
        
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        /* Force scrollbar */
        
        html {
            overflow-y: scroll;
        }
        /* Align radios and text inputs with their label */
        
        input[type='radio'] {
            vertical-align: text-bottom;
        }
        /* Hand cursor on clickable input elements */
        
        label,
        input[type='button'],
        input[type='submit'],
        button {
            cursor: pointer;
        }
        
        strong {
            font-weight: bold;
            font-family: inherit;
            font-size: inherit;
        }
        
        em {
            font-style: italic;
        }
        
        img {
            width: 100%;
            border: 0;
            vertical-align: middle;
        }
        
        sub,
        sup {
            vertical-align: baseline;
            position: relative;
            font-size: 55%;
            line-height: 0;
        }
        
        sup {
            top: -.7em;
        }
        
        sub {
            bottom: -.25em;
        }
        /* 1.2. Clear Fix
   ========================== */
        
        .cf:before,
        .cf:after {
            display: table;
            content: " ";
        }
        
        .cf:after {
            clear: both;
        }
        
        .cf {
            *zoom: 1;
        }
        /*for all*/
        
        body {
            box-sizing: border-box;
            font-family: sans-serif;
        }
        
        a {
            display: inline-block;
            text-decoration: none;
        }
        
        li {
            display: inline-block;
            list-style-type: none;
        }
        /*for wrapper*/
        
        .wrapper {
            max-width: 1360px;
            width: 80%;
            margin: 0 auto;
        }
        
        .wrapper-large {
            width: 83%;
            margin: 0 auto;
        }
        /*common styling*/
        
        .btn {
            padding: 11px 0;
            border: 2px solid #fab700;
            background-color: #fab700;
            color: #fff;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
        }
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
        /*=================================
            Header styling starts here
        =================================*/
        
        header {
            border-top: 2px solid #000;
            margin-top: 7px;
        }
        
        header .wrapper-large {
            padding: 18px 0;
            display: flex;
        }
        
        nav {
            flex: 1 45%;
        }
        
        .logo {
            width: 50%;
        }
        
        .nav-items {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        
        .nav-item {
            padding: 10px 0;
            padding-right: 5%;
        }
        
        .nav-item a {
            color: #454545;
            font-size: 12px;
            text-transform: uppercase;
        }
        
        .nav-item a:hover {
            color: #fab700;
        }
        
        .nav-item:nth-last-child(3) {
            position: relative;
        }
        
        .nav-item:nth-last-child(3)>a::after {
            padding-left: 15%;
            color: #000;
            font-family: 'FontAwesome';
            font-weight: 900;
            content: '\f107';
        }
        
        .nav-item:nth-last-child(3)>a:hover::after {
            content: '\f106';
        }
        
        .blogs {
            padding: 10px 20%;
            display: none;
            position: absolute;
            background-color: #fff;
            flex-direction: column;
            z-index: 1;
        }
        
        .blog {
            padding: 10px 0;
            color: #000;
            font-weight: 600;
        }
        
        .menu {
            display: none;
        }
        
        .nav-item:nth-last-child(3):hover .blogs {
            display: flex;
        }
        /*=================================
  Header styling ends here
=================================*/
        /*=================================
  main styling starts here
=================================*/
        /*banner start here */
        
        .banner {
            padding: 101px 0 205px 0;
            background: rgba(0, 0, 0, 0.5) url('../images/banner-bg.jpg') center no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
        }
        
        .banner .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .banner-sub-title {
            color: #fff;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .banner-title {
            padding: 29px 0 35px 0;
            color: #fff;
            font-size: 48px;
            font-weight: 900;
            text-align: center;
            text-transform: capitalize;
        }
        
        .banner p {
            width: 65%;
            padding-bottom: 18px;
            color: #fff;
            font-size: 16px;
            text-align: center;
            line-height: 1.5;
        }
        
        .btn-start {
            padding: 11px 2.2%;
        }
        
        .btn:hover {
            background-color: #fff;
            color: #fab700;
        }
        /*banner ends here*/
        /*services start here*/
        
        .services {
            padding: 129px 0 135px 0;
            display: flex;
            justify-content: space-between;
        }
        
        .service {
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .service:last-child {
            padding-right: 0;
        }
        
        .services .icon {
            width: 62px;
            height: 38px;
            border-right: 1px solid #cdcdcd;
            border-left: 1px solid #cdcdcd;
            border-radius: 5px;
            position: relative;
            transition: all 1s;
        }
        
        .service {
            position: relative;
        }
        
        .icon::before,
        .icon::after {
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }
        
        .icon::before {
            transform: rotate(60deg);
        }
        
        .icon::after {
            transform: rotate(-60deg);
        }
        
        .icon span {
            width: inherit;
            height: inherit;
            display: flex;
            font-family: 'FontAwesome';
            font-weight: 900;
            text-indent: -9999px;
            justify-content: center;
            align-items: center;
        }
        
        .icon span::before {
            color: #cdcdcd;
            font-size: 32px;
            text-indent: 0;
            float: right;
        }
        
        .service:nth-child(1) .icon span::before {
            content: '\e2ca';
        }
        
        .service:nth-child(2) .icon span::before {
            content: '\f135';
        }
        
        .service:nth-child(3) .icon span::before {
            content: '\f188';
        }
        
        .service-title {
            padding: 40px 0 28px 0;
            color: #000;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
        }
        
        .service-description {
            color: #454545;
            font-size: 16px;
            text-align: center;
            line-height: 1.5;
        }
        /*services end here*/
        /*quotes start here*/
        
        .request-quote {
            padding: 115px 0;
            background-color: #f9f9ff;
        }
        
        .request-quote .wrapper-large {
            display: flex;
        }
        
        .description {
            flex-basis: 66.6%;
            padding-top: 30px;
        }
        
        .quote-sub-title {
            color: #f9bb65;
            font-size: 16px;
        }
        
        .quote-title {
            width: 48%;
            padding: 16px 0 34px 0;
            color: #252525;
            font-size: 36px;
            font-weight: 900;
        }
        
        .quote-line {
            padding-bottom: 16px;
            color: #252525;
        }
        
        .quote-description {
            width: 95%;
            padding-bottom: 40px;
            color: #454545;
            text-align: justify;
            line-height: 1.5;
        }
        
        .btn-start-now {
            padding: 11px 6%;
        }
        
        .form {
            flex: 1;
            padding: 31px;
            margin: 0 auto;
            display: flex;
            background: rgba(0, 0, 0, 0.7) url('../images/form-bg.jpg') center no-repeat;
            background-size: cover;
            background-blend-mode: multiply;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        form[name=contact] {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .form-title {
            width: 90%;
            padding-bottom: 16px;
            color: #fff;
            font-size: 21px;
            font-weight: 700;
            text-align: left;
        }
        
        input,
        select {
            box-sizing: border-box;
            width: 100%;
            padding: 10px 2%;
            border-color: #fff;
            background-color: transparent;
            color: #fff;
        }
        
        .select-service {
            position: relative;
        }
        
        .select-service::before {
            position: absolute;
            top: 25%;
            right: 5%;
            color: #656565;
            font-family: 'FontAwesome';
            font-size: 10px;
            font-weight: 900;
            content: '\f107';
        }
        
        select {
            appearance: none;
        }
        
        option {
            color: #000;
        }
        
        textarea {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 2%;
            min-height: 108px;
            border: 1px solid #fff;
            display: block;
            background-color: transparent;
        }
        
        input::placeholder,
        textarea::placeholder {
            color: #fff;
        }
        
        input:focus,
        textarea:focus,
        select:focus {
            outline: transparent;
        }
        
        input[type=submit] {
            font-size: 12px;
        }
        
        .form div {
            width: 100%;
        }
        
        .select-service,
        .name,
        .phone,
        .email,
        .textarea {
            padding-bottom: 4px;
        }
        /*quotes ends here*/
        /*market start here*/
        
        section.market {
            padding: 123px 0 134px 0;
        }
        
        .market-title,
        .gallery-title,
        .post-title {
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
        }
        
        .market-title {
            padding-bottom: 10px;
        }
        
        .market-sub-title,
        .gallery-sub-title,
        .post-sub-title {
            color: #454545;
            font-size: 16px;
            text-align: center;
        }
        
        .market-sub-title {
            padding-bottom: 50px;
        }
        
        .markets,
        .posts {
            display: flex;
        }
        
        li.market:nth-child(2),
        .post:nth-child(2) {
            padding: 0 3%;
        }
        
        .market h5 {
            padding: 22px 0;
            color: #000;
            font-size: 21px;
            font-weight: 700;
        }
        
        .market .description {
            width: 100%;
            padding-top: 0;
            color: #454545;
            font-size: 16px;
            line-height: 1.5;
        }
        /*market end here*/
        /*data start here */
        
        .data {
            padding: 118px 0 137px 0;
            background: rgba(24, 24, 238, 0.5) url(../images/ramp.jpg) center no-repeat;
            background-size: cover;
            background-blend-mode: multiply;
        }
        
        .statistics {
            display: flex;
            justify-content: center;
        }
        
        .stat {
            padding-right: 10.7%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .stat:last-child {
            padding-right: 0;
        }
        
        .number {
            width: 91px;
            height: 91px;
            border-radius: 50%;
            display: flex;
            background-color: #fab700;
            color: #fff;
            font-size: 21px;
            font-weight: 900;
            justify-content: center;
            align-items: center;
        }
        
        .border {
            padding: 25px;
            border: 2px solid #fab700;
            border-radius: 50%;
            display: block;
            content: "";
        }
        
        .stat-label {
            padding-top: 25px;
            color: #fff;
            font-size: 21px;
            text-align: center;
        }
        /*data end here*/
        /*gallery start here*/
        
        .gallery {
            padding: 125px 0 149px 0;
        }
        
        .gallery-title {
            padding-bottom: 15px;
        }
        
        .gallery-sub-title {
            padding-bottom: 49px;
        }
        
        .gallery-items {
            display: flex;
            flex-wrap: wrap;
        }
        
        .gallery-item:first-child {
            flex-basis: 70%;
            padding: 0 3% 30px 0;
            max-height: 369px;
        }
        
        .gallery-items img {
            width: 100%;
            height: 100%;
        }
        
        .gallery-item:nth-child(2) {
            flex: 1;
            max-height: 369px;
            padding-bottom: 30px;
        }
        
        .gallery-item:nth-child(3) {
            flex-basis: 50%;
            padding-right: 3%;
        }
        
        .gallery-item:last-child {
            flex: 1;
        }
        /*gallery end here*/
        /*feedback start here*/
        
        .feedback {
            padding: 125px 0 116px 0;
            background: rgba(0, 0, 0, 0.7) url('../images/furnace.jpg') center no-repeat;
            background-size: cover;
            background-blend-mode: multiply;
        }
        
        .feedback-title {
            padding-bottom: 15px;
            color: #fff;
            font-size: 42px;
            font-weight: 900;
            text-align: center;
        }
        
        .feedback-sub-title {
            padding-bottom: 50px;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
        
        .fb-block {
            display: flex;
        }
        
        .fb-block figure {
            flex-basis: 55%;
            max-height: 306px;
            position: relative;
        }
        
        .fb-block figure::before {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 40px;
            font-weight: 900;
            content: '\f144';
            justify-content: center;
            align-items: center;
        }
        
        .fb-block figure:hover::before {
            color: #ffa500;
            cursor: pointer;
        }
        
        .fb-block img {
            width: 100%;
            height: 100%;
        }
        
        .clients-fb {
            flex-basis: 45%;
            padding: 78px 0 72px 2%;
        }
        
        .feedbacks {
            padding-bottom: 30px;
            display: flex;
        }
        
        .fb {
            padding-right: 5%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .fb:last-child {
            padding-right: 0;
        }
        
        .client-name {
            flex-basis: 50%;
            color: #fff;
            font-size: 16px;
            font-weight: 900;
        }
        
        .ratings {
            flex: 1;
        }
        
        .fb-description {
            flex-basis: 100%;
            padding-top: 15px;
            color: #fff;
            font-size: 16px;
            line-height: 1.5;
        }
        
        .rating {
            padding-right: 2%;
            display: inline-block;
            text-indent: -9999px;
        }
        
        .rating:last-child {
            padding-right: 0;
        }
        
        .rating::before {
            color: #656565;
            font-family: 'FontAwesome';
            font-size: 12px;
            font-weight: 900;
            content: '\f005';
            text-indent: 0;
            float: right;
        }
        
        .rating:first-child::before,
        .rating:nth-child(2)::before,
        .rating:nth-child(3)::before {
            color: #ffa500;
        }
        
        .controls {
            display: flex;
        }
        
        .control {
            padding-right: 3%;
            display: block;
            text-indent: -9999px;
        }
        
        .control:last-child {
            padding-right: 0;
        }
        
        .control::before {
            color: #656565;
            font-family: 'FontAwesome';
            font-size: 10px;
            font-weight: 900;
            content: '\f45c';
            text-indent: 0;
            float: right;
        }
        
        .active-control::before,
        .control:hover::before {
            color: #ffa500;
            cursor: pointer;
        }
        /*feedback start here*/
        
        section:last-child {
            padding: 125px 0 164px 0;
        }
        
        .post-title {
            padding-bottom: 38px;
        }
        
        .post-sub-title {
            width: 60%;
            padding-bottom: 73px;
            margin: 0 auto;
            line-height: 1.5;
        }
        
        .post>figure {
            width: 100%;
            min-height: 215px;
            max-height: 215px;
        }
        
        .post img {
            width: 100%;
            height: 100%;
        }
        
        .post {
            display: flex;
            flex-direction: column;
        }
        
        .user {
            padding: 10px 0;
            border-bottom: 1px solid #cdcdcd;
            display: flex;
            /* justify-content: center; */
            align-items: center;
        }
        
        .user figure {
            width: 30px;
            height: 30px;
        }
        
        .user-name,
        .date,
        .likes,
        .comments {
            padding: 0 8% 0 2%;
            color: #454545;
            font-size: 12px;
        }
        
        .date,
        .likes,
        .comments {
            padding-right: 2%;
        }
        
        .likes,
        .comments {
            flex: 1;
            text-align: center;
        }
        
        .post .post-title {
            padding: 35px 0 25px 0;
            font-size: 21px;
            font-weight: 900;
            text-align: left;
        }
        
        .post-description {
            color: #454545;
            font-size: 16px;
            line-height: 1.5;
        }
        
        .comments::before,
        .likes::before {
            color: #656565;
            font-family: 'FontAwesome';
            font-weight: 900;
        }
        
        .comments::before {
            content: '\f075';
        }
        
        .likes::before {
            content: '\f004';
        }
        /*=================================
  main styling ends here
=================================*/
        /*=================================
  footer styling starts here
=================================*/
        
        footer {
            padding: 102px 0 137px 0;
            background-color: #04091e;
        }
        
        .connects {
            display: flex;
        }
        
        .connect {
            display: flex;
            flex-direction: column;
        }
        
        .connect:first-child {
            flex-basis: 42%;
        }
        
        .connect:nth-child(2) {
            flex-basis: 35%;
            padding: 0 7% 0 3%;
        }
        
        .connect:nth-child(3) {
            flex: 1;
        }
        
        .connect-head {
            padding-bottom: 31px;
            color: #fff;
            font-size: 18px;
            font-weight: 900;
        }
        
        .about-us-description,
        .copyright {
            padding-bottom: 39px;
            color: #454545;
            font-size: 16px;
            line-height: 1.5;
        }
        
        .copyright {
            padding-bottom: 0;
        }
        
        .copyright span,
        .copyright a {
            display: inline-block;
            color: #ffa500;
            text-transform: capitalize;
        }
        
        .copyright a:hover {
            color: #fff;
        }
        
        .copyright span:first-child {
            font-family: 'FontAwesome';
            font-weight: 900;
            text-indent: -9999px;
        }
        
        .copyright span:first-child::before {
            content: '\f004';
            text-indent: 0;
            float: right;
        }
        
        .newsletter-description,
        .follow-description {
            padding-bottom: 18px;
            color: #454545;
            font-size: 16px;
        }
        
        .subscribe-form {
            display: flex;
        }
        
        .subs-mail {
            flex-basis: 90%;
        }
        
        .subscribe {
            flex: 1;
            position: relative;
        }
        
        .subscribe::before {
            position: absolute;
            top: 25%;
            left: 25%;
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 21px;
            font-weight: 900;
            content: '\f061';
        }
        
        .subscribe:hover::before {
            color: #000;
        }
        
        form[name=subs-email] {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        input[name=subs-mail],
        input[name=email-submit] {
            padding: 13px 3%;
            border: none;
            background-color: #fff;
            color: #000;
        }
        
        input[name=email-submit] {
            padding: 14px 0;
            background-color: #ffa500;
        }
        
        input[name=email-submit] {
            font-family: 'FontAwesome';
            font-weight: 900;
            text-indent: -9999px;
        }
        
        .links {
            display: flex;
        }
        
        .link {
            padding-right: 20%;
        }
        
        .link:last-child {
            padding-right: 0;
        }
        
        .link a {
            display: block;
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 12px;
            font-weight: 900;
            text-indent: -9999px;
        }
        
        .link:nth-child(1) a::before {
            content: '\f39e';
            text-indent: 0;
            float: right;
        }
        
        .link:nth-child(2) a::before {
            content: '\f099';
            text-indent: 0;
            float: right;
        }
        
        .link:nth-child(3) a::before {
            content: '\f434';
            text-indent: 0;
            float: right;
        }
        
        .link:nth-child(4) a::before {
            content: '\f1b4';
            text-indent: 0;
            float: right;
        }
        
        .link a:hover {
            color: #ffa500;
        }
        
        input[name=subs-mail]::placeholder {
            color: #454545;
        }
        /*=================================
            footer styling ends here
        =================================*/
        /*media query starts*/
        /*media query for 995px starts here*/
        
        @media only screen and (max-width: 995px) {
            .description {
                flex-basis: 60%;
            }
            .quote-title {
                width: 95%;
            }
            .form {
                padding: 0 3%;
            }
            .stat {
                padding-right: 7%;
            }
            .fb-block figure {
                max-height: 800px;
            }
            .client-name {
                flex-basis: 100%;
            }
            .rating {
                padding-right: 0;
            }
            .user-name {
                padding: 0 2%;
            }
            .date {
                flex-basis: 15%;
            }
            .subscribe::before {
                left: 5%;
            }
            .connect:first-child {
                flex-basis: 35%;
            }
        }
        /*media query for 768px starts here*/
        
        @media only screen and (max-width: 768px) {
            .nav-items {
                display: none;
            }
            .menu {
                height: 100%;
                display: flex;
                position: relative;
                font-family: 'FontAwesome';
                font-size: 21px;
                font-weight: 900;
                text-indent: -9999px;
                justify-content: right;
                align-items: center;
            }
            .menu::before {
                content: '\f0c9';
                text-indent: 0;
                float: right;
            }
            .menu:hover::before {
                color: #ffa500;
                content: '\f00d';
                transition: all 2s;
            }
            .menu:hover+.nav-items {
                width: 50%;
                display: flex;
                position: absolute;
                right: 0;
                background-color: #fff;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 10;
                transition: all 2s;
            }
            .banner p {
                width: 100%;
            }
            .services {
                padding: 50px 0;
                flex-direction: column;
            }
            .service {
                padding: 25px 0;
            }
            .service-description {
                text-align: justify;
            }
            .request-quote .wrapper-large {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .request-quote .description {
                padding: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .quote-sub-title,
            .quote-title,
            .quote-line,
            .quote-description {
                width: 100%;
                text-align: center;
            }
            .quote-description {
                text-align: left;
            }
            .form {
                width: 80%;
                padding: 31px;
            }
            section.market {
                padding: 100px 0;
            }
            .markets {
                flex-direction: column;
            }
            li.market:nth-child(2) {
                padding: 40px 0;
            }
            .market h5 {
                text-align: center;
            }
            .market .description {
                text-align: justify;
            }
            .data {
                padding: 80px 0;
            }
            .statistics {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .stat {
                flex-basis: 50%;
                padding: 20px 0;
            }
            .gallery {
                padding: 100px 0;
            }
            .feedback {
                padding: 80px 0;
            }
            .fb-block {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .controls {
                justify-content: center;
            }
            section:last-child {
                padding: 100px 0;
            }
            .post-sub-title {
                width: 80%;
            }
            .posts {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .post:nth-child(2) {
                padding: 40px 0;
            }
            .post>figure {
                min-height: 215px;
                max-height: 215px;
                display: flex;
                overflow: hidden;
            }
            .post .post-title {
                text-align: center;
            }
            .post-description {
                text-align: justify;
            }
            .connects {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .connect {
                width: 80%;
            }
            .connect:nth-child(3) {
                padding: 50px 0;
            }
            .connect-head,
            .newsletter-description,
            .follow-description,
            .about-us-description,
            .copyright {
                text-align: center;
            }
            .connect:first-child {
                order: 1;
            }
            .subscribe::before {
                left: 25%;
            }
            .links {
                justify-content: center;
                align-items: center;
            }
            .link {
                padding-right: 5%;
            }
            .link a::before {
                font-size: 21px;
            }
            .user-name,
            .date {
                flex: 1;
            }
        }
        /*media query for 540px starts here*/
        
        @media only screen and (max-width: 540px) {
            .banner {
                padding: 80px 0;
            }
            .statistics {
                flex-direction: column;
            }
            .gallery-items {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .gallery-item:nth-child(1),
            .gallery-item:nth-child(2),
            .gallery-item:nth-child(3),
            .gallery-item:nth-child(4) {
                min-height: 366px;
                max-height: 366px;
                width: 100%;
                padding: 0 0 40px 0;
                display: flex;
                overflow: hidden;
            }
            .gallery-item img {
                height: auto;
            }
            .footer {
                padding: 100px 0;
            }
            .connect:nth-child(3) {
                padding: 80px 0;
            }
            .post img {
                height: auto;
            }
            .user img {
                height: 100%;
            }
        }
        /*media query for 425px starts here*/
        
        @media only screen and (max-width: 425px) {
            .user-name,
            .date {
                flex-basis: 25%;
            }
            .clients-fb {
                padding: 50px 0;
            }
            .subscribe::before {
                left: 0;
            }
        }
        /*media query for 320px starts here*/
        
        @media only screen and (max-width: 320px) {
            .quote-title,
            .market-title,
            .gallery-title,
            .post-title {
                font-size: 28px;
            }
            .post:nth-child(2) {
                padding: 80px 0;
            }
        }